<?xml version="1.0"?>
<config>
    <modules>
        <Space48_TrackingCodes>
            <version>0.1.0</version>
        </Space48_TrackingCodes>
    </modules>
    <global>
        <blocks>
            <space48_trackingcodes>
                <class>Space48_TrackingCodes_Block</class>
            </space48_trackingcodes>
        </blocks>
        <helpers>
            <space48_trackingcodes>
                <class>Space48_TrackingCodes_Helper</class>
            </space48_trackingcodes>
        </helpers>
        <models>
            <space48_trackingcodes>
                <class>Space48_TrackingCodes_Model</class>
            </space48_trackingcodes>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <trackingcodes>
                    <file>space48/trackingcodes.xml</file>
                </trackingcodes>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <s48trackingcodes>
                                            <title>Space 48 Tracking Codes - All</title>
                                        </s48trackingcodes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>